[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/FreedomTo
[access "refs/for/refs/*"]
	read = group user/FreedomTo
	push = group user/FreedomTo
	label-Code-Review = -2..+2 group user/FreedomTo
	label-Verified = -1..+1 group user/FreedomTo
	rebase = group user/FreedomTo
	removeReviewer = group user/FreedomTo
	submit = group user/FreedomTo
[access "refs/heads/*"]
	read = group user/FreedomTo
	create = group user/FreedomTo
	push = +force group user/FreedomTo
	pushMerge = group user/FreedomTo
[access "refs/tags/*"]
	push = +force group user/FreedomTo
	pushTag = group user/FreedomTo
	pushSignedTag = group user/FreedomTo
